[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
flask = "^3.0"
flask-sqlalchemy = "^3.1"
psycopg2-binary = "^2.9"
flask-migrate = "^4.0"
flask-bcrypt = "^1.0"
flask-jwt-extended = "^4.6"
flask-cors = "^4.0"
python-dotenv = "^1.0"
marshmallow = "^3.21"


[dev-packages]


[requires]
python_version = "3.12"